/*fonts shared*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.noto-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/*shared styles*/
.text-black1{
  color: #000000;
}
.text-ash1{
    color: #8987A1;
}
.text-orange{
    color: #E95A08;
}
.main-colour{
    background-color: #ebebeb;
}


/*Navbar styless*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 150px;
  margin-top: 30px;
}
.nav-image{
    max-width: 135px;
    height: 82px;
}
nav ul{
    display: flex;
     gap: 48px;


}
nav ul li{
    list-style: none;
    
}

/*Banner styless*/
.banner{
    max-width: 1140px;
    height: 461px;
    display: flex;
    margin: auto;
    margin-top: 221px;
    justify-content: center;
    gap: 40px;
    
}
.banner-title{
    font-size: 4.063rem;
    font-weight: bold;
    margin-bottom: 10px;
    
}
.banner-desc{
    font-size: 1.375rem;
    font-weight:400;
    padding: 0;
}
.banner-content, .banner-image {
  flex: 1;}

.banner-content{
    
}
.banner-image{
    max-width: 570px;


}

/*Plants Section*/
.plants{
    max-width: 1140px;
    margin: auto 150px;
}
.plants-content{
   
    justify-content: center;
    text-align: center;
}
.plants-title{
    font-size: 3.125rem;
    font-weight: bold;
    padding: 0;
    margin-bottom: 16px;
}
.plants-desc{
    justify-content: center;
    text-align: center;
    font-size: 1.375rem;
    font-weight: normal;
    padding: 0;
    max-width: 888px;
     padding: 0 126px;
}
.plants-container{
  border: 1px solid transparent;
  max-width: 270px;
  height: 484px;
  padding: 0;
  justify-content: center;
  align-content: center;
  text-align: center;

}
.plant-name{
    font-size: 1.375rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.plant-price{
    font-size: 1.375rem;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 0;
    padding: 0;
}
.btn-primary{
    background-color: #E95A08;
    padding: 19px 80px;
    margin: 0;
    margin-top: 10px;
   width: 270px;
   color: white;
   border: transparent;
   
}
.plants-container-box
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}

.btn-primary:hover{
    cursor: pointer;
    background-color: #dda07c;
}

.plants-container:hover{
    cursor: pointer;
    transform: scale(1.05);
    background-color: antiquewhite;



}

/*Trust Section*/

.trusted{
 margin-top: 210px;
 max-width: 1140px;
 margin: 210px 150px;

 display: flex;
 gap: 60px;
}
.trusted-left{


}
.photoman{
    max-width: 540px;
    position: relative;
}
.trustedbadge{
    max-width: 286px;
    justify-content:flex-start;
    position: absolute;
    left: 30%;
    

    transform: translate(60px,-80px);

}
.trusted-right{
   
    max-width: 540px;
    padding: 38px 0px;
    height: 520px;
    text-align: left;

}
.trusted-title{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0;
}

.trusted-desc li{
   
    font-size: 1.375rem;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0;
}
/*deals section styles*/
.latest-deals{
    max-width: 1440px;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: centers;
    margin-bottom: 120px;
}
.deals-title{
    font-size: 3.125rem;
    font-weight: bold;
    text-align: center;
}
.deals-desc{
    font-size: 1.375rem;
    font-weight: 400;
    text-align: center;
  
 max-width: 888px;
 padding: 0 126px;
 margin: 0 auto;


}
.total-cards-photos{
    display: flex;
    gap: 28px;
    width: 1140px;
    height: 425px;
    padding: 0;
    justify-content: cent5er;
    align-items: center;
    margin: auto 150px;
    text-align: center;
    margin-bottom: 120px;

}
.deals-photos-cards{
    display: flex;
    flex-direction: column;
    gap:25px;
    
    max-width: 367px;
    
}
.deals-cards {
  background: linear-gradient(rgba(0, 0, 0, 0.5)),url("/assets/deal-bloom.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 366px;  
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  color: white
}
.deals-cards2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5)),url("/assets/deal-ana.png");
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 366px;  
  display: flex;
  justify-content: center;
  align-items: center;
   border-radius: 10px;
   text-align: center;
   color: white
   ;
}

.deals-cards-right {
    background: linear-gradient(rgba(0, 0, 0, 0.5)),url("/assets/deal-zabo.png");
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 753px;
  height: 425px;  
    display: flex;
  justify-content: center;
  align-items: center;
   border-radius: 10px;
   text-align: center;
   color: white
   ;
}
.deals-cards-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Colorful Bunch*/
.colorfull-bunch{
    background-image: url(/assets/news-letter-bg.png);
     background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100% ;
    height: 535px;
    display: flex
    ;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.bunch-title{
    font-size: 3.125rem;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 23px;
}
.bunch-bar{
    display: flex;
     height: 50px;
     justify-content: center;
    
}
.bar{
    width: 645px;
   padding-left: 20px;
}
.btn-2{
    background-color: #E95A08;
    max-width: 186px;

    padding: 19px 53.5px;
    margin: 0;
    color: white;
    border: transparent;

}
.btn-2:hover{
    cursor: pointer;
    background-color: #dda07c;
}


@media screen and (max-width: 1024px) {
  .trustedbadge {
    display: none;
  }
}